body {
  background-color: powderblue;
}
h1 {
  color: navy;
  font-family: 'Abril Fatface';font-size: 40px;
  text-align: center;
  background-color: powderblue;
  padding: 10px;
}
p {
  color: white;
  text-align: center;
  font-family: 'Poppins', sans-serif; font-size: 30px;
	text-shadow: -1px 1px 2px #000,
				  1px 1px 2px #000,
				  1px -1px 0 #000,
				  -1px -1px 0 #000;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
img {
	width: 30%;
}
.navbar {
  overflow: hidden;
  background-color: #f2e6ff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  list-style-type: none;
	  display: flex;
  justify-content: space-around;
}

.navbar a {
  display: block;
  color: navy;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover:not(.active) {
  background-color: #cebfef;
	  padding: 10px;
}
.navbar a.active {
  background-color: mediumpurple;
	  padding: 10px;
}
.navbar li{
  display: inline;
}
